* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContainer {
  background-color: #0f0f0f;
  height: 500px;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icon {
  cursor: pointer;
}
input {
  padding: 10px;
  font-size: medium;
  height: 40px;
  display: flex;
  border: none;
  outline: none;
}
.ColorList {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}
.search {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.searchItemContainer {
  padding-block: 5px;
  padding-left: 2px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 5px;
  width: 90%;
}
.searchIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 30px;
}

.SearchItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  max-width: 100px;
  max-height: 25px;
  height: 25px;
  border-radius: 6px;
  padding: 2px 6px;
}
